<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AHD.ID3.Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="AHD.ID3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <AHD.ID3.Editor.Properties.Settings>
            <setting name="Win_Location" serializeAs="String">
                <value>27, 13</value>
            </setting>
            <setting name="Win_Size" serializeAs="String">
                <value>1081, 644</value>
            </setting>
            <setting name="SplitContainer1" serializeAs="String">
                <value>207</value>
            </setting>
            <setting name="SplitContainer2" serializeAs="String">
                <value>521</value>
            </setting>
            <setting name="SplitContainer3" serializeAs="String">
                <value>331</value>
            </setting>
            <setting name="SplitContainer4" serializeAs="String">
                <value>330</value>
            </setting>
            <setting name="SplitContainer5" serializeAs="String">
                <value>317</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoubleClickActionIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DefaultID3V2Version" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ID3V2_UseUnsynchronisation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ID3V2_KeepPadding" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ID3V2_DropExtendedHeader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ID3V2_WriteFooter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MediaPlayerAutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TabPageColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="TabPageHighlightColor" serializeAs="String">
                <value>LightGoldenrodYellow</value>
            </setting>
            <setting name="TabPageSelectColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TabPageSplitcolor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="TabPageTextColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </AHD.ID3.Editor.Properties.Settings>
        <AHD.ID3.Properties.Settings>
            <setting name="Win_Location" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="Win_Size" serializeAs="String">
                <value>1024, 740</value>
            </setting>
        </AHD.ID3.Properties.Settings>
    </userSettings>
</configuration>
